In [24]:
import pandas as pd
from pymongo import MongoClient
from sklearn.preprocessing import LabelEncoder

In [26]:
# MongoDB connection
mongo_uri = "mongodb+srv://saidb:saidb12@cluster0.8gen6fg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(mongo_uri)
db = client["healthcare"]

C:\Users\chetk\anaconda3\Lib\site-packages\pymongo\pyopenssl_context.py:352: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280. Loading this certificate will cause an exception in the next release of cryptography.
  _crypto.X509.from_cryptography(x509.load_der_x509_certificate(cert))

In [28]:
# Step 1: Read data from Bronze Layer
bronze_collection = db["heart_disease_bronze"]
data = list(bronze_collection.find({}, {"_id": 0}))  # Exclude MongoDB's default _id
df = pd.DataFrame(data)

In [29]:
# step 2: check the data 

print("Shape of data:", df.shape)
print("\nData types:\n", df.dtypes)

Shape of data: (2760, 16)

Data types:
 id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object

In [32]:
print("\nMissing values per column:\n", df.isnull().sum())

Missing values per column:
 id             0
age            0
sex            0
dataset        0
cp             0
trestbps     177
chol          90
fbs          270
restecg        6
thalch       165
exang        165
oldpeak      186
slope        927
ca          1833
thal        1458
num            0
dtype: int64

In [34]:
print("\nMissing values %:\n", (df.isnull().sum() / len(df)) * 100)

Missing values %:
 id           0.000000
age          0.000000
sex          0.000000
dataset      0.000000
cp           0.000000
trestbps     6.413043
chol         3.260870
fbs          9.782609
restecg      0.217391
thalch       5.978261
exang        5.978261
oldpeak      6.739130
slope       33.586957
ca          66.413043
thal        52.826087
num          0.000000
dtype: float64

In [36]:
duplicate_count = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_count}")

Number of duplicate rows: 1840

In [38]:
print("\nNumerical summary:\n", df.describe())

Numerical summary:
                 id          age     trestbps         chol       thalch  \
count  2760.000000  2760.000000  2583.000000  2670.000000  2595.000000
mean    460.500000    53.510870   132.132404   199.130337   137.545665
std     265.629093     9.421269    19.058684   110.739296    25.916280
min       1.000000    28.000000     0.000000     0.000000    60.000000
25%     230.750000    47.000000   120.000000   175.000000   120.000000
50%     460.500000    54.000000   130.000000   223.000000   140.000000
75%     690.250000    60.000000   140.000000   268.000000   157.000000
max     920.000000    77.000000   200.000000   603.000000   202.000000

           oldpeak          ca          num
count  2574.000000  927.000000  2760.000000
mean      0.878788    0.676375     0.995652
std       1.090802    0.934642     1.142279
min      -2.600000    0.000000     0.000000
25%       0.000000    0.000000     0.000000
50%       0.500000    0.000000     1.000000
75%       1.500000    1.000000     2.000000
max       6.200000    3.000000     4.000000

In [40]:
for col in df.select_dtypes(include='object').columns:
    print(f"{col}: {df[col].unique()}")

sex: ['Male' 'Female']
dataset: ['Cleveland' 'Hungary' 'Switzerland' 'VA Long Beach']
cp: ['typical angina' 'asymptomatic' 'non-anginal' 'atypical angina']
fbs: [True False nan]
restecg: ['lv hypertrophy' 'normal' 'st-t abnormality' nan]
exang: [False True nan]
slope: ['downsloping' 'flat' 'upsloping' nan]
thal: ['fixed defect' 'normal' 'reversable defect' nan]

In [42]:

# Step 3: Preprocessing

# Handle missing values
for col in df.columns:
    if df[col].dtype in ['int64', 'float64']:
        df[col].fillna(df[col].mean(), inplace=True)
    else:
        df[col].fillna(df[col].mode()[0], inplace=True)

# Convert categorical features using Label Encoding
categorical_cols = df.select_dtypes(include=['object']).columns
label_encoders = {}

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le  # Store for possible inverse_transform later

# Step 3: Store to Silver Layer
silver_collection = db["heart_disease_silver"]
silver_collection.drop()  # Optional: Clear previous data
silver_collection.insert_many(df.to_dict(orient="records"))

print("Data successfully preprocessed and stored in heart_disease_silver collection.")

C:\Users\chetk\AppData\Local\Temp\ipykernel_21224\813124266.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\chetk\AppData\Local\Temp\ipykernel_21224\813124266.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\chetk\AppData\Local\Temp\ipykernel_21224\813124266.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col].fillna(df[col].mode()[0], inplace=True)

Data successfully preprocessed and stored in heart_disease_silver collection.

In [40]:
# check the cleaned data

missing = df_silver.isnull().sum()
print("Missing values:\n", missing[missing > 0])

Missing values:
 Series([], dtype: int64)

In [42]:
print("Shape of silver data:", df_silver.shape)
print("Column names:\n", df_silver.columns.tolist())

Shape of silver data: (920, 22)
Column names:
 ['age', 'trestbps', 'chol', 'fbs', 'thalch', 'exang', 'oldpeak', 'ca', 'num', 'sex_Male', 'dataset_Hungary', 'dataset_Switzerland', 'dataset_VA Long Beach', 'cp_atypical angina', 'cp_non-anginal', 'cp_typical angina', 'restecg_normal', 'restecg_st-t abnormality', 'slope_flat', 'slope_upsloping', 'thal_normal', 'thal_reversable defect']

In [44]:
one_hot_cols = [col for col in df_silver.columns if '_' in col]
print("One-hot columns:\n", one_hot_cols)

# Sample check
for col in one_hot_cols:
    unique_vals = df_silver[col].unique()
    assert set(unique_vals).issubset({0, 1}), f"{col} has non-binary values: {unique_vals}"
print("All one-hot encoded columns contain only 0 or 1.")

One-hot columns:
 ['sex_Male', 'dataset_Hungary', 'dataset_Switzerland', 'dataset_VA Long Beach', 'cp_atypical angina', 'cp_non-anginal', 'cp_typical angina', 'restecg_normal', 'restecg_st-t abnormality', 'slope_flat', 'slope_upsloping', 'thal_normal', 'thal_reversable defect']
✅ All one-hot encoded columns contain only 0 or 1.